<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cloudcentrik.wordplus"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_green"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->


        <!-- SplashActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.SplashActivity"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity android:name="net.cloudcentrik.wordplus.MainActivity" />

        <!-- AddNewActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.AddNewActivity"
            android:label="Add New Word"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity"
            android:screenOrientation="portrait"/>

        <!-- AboutActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.AboutActivity"
            android:label="About"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <!-- StatisticsActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.StatisticsActivity"
            android:label=" Word Statistics"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <!-- StatisticsActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.QuizActivity"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <activity
            android:name="net.cloudcentrik.wordplus.NewQuizActivity"
            android:label="Quiz"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <activity
            android:name="net.cloudcentrik.wordplus.QuizResultActivity"
            android:label="Quiz Result"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <!-- WordActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.WordActivity"
            android:label="Word"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <!-- DictonaryWordActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.DictonaryWordActivity"
            android:label="Dictonary"
            android:parentActivityName="net.cloudcentrik.wordplus.DictonaryActivity" />

        <!-- SaveActivity -->
        <activity
            android:name="net.cloudcentrik.wordplus.SaveActivity"
            android:label="Save"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <!-- ExampleActivity -->


        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="net.cloudcentrik.wordplus.DictonaryActivity"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />

        <activity
            android:name="net.cloudcentrik.wordplus.EditWordActivity"
            android:parentActivityName="net.cloudcentrik.wordplus.MainActivity" />
    </application>

</manifest>