<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cloudcentrik.vocabuilder"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->


        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity android:name=".MainActivity" />

        <!-- AddNewActivity -->
        <activity
            android:name=".AddNewActivity"
            android:label="add new"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cloudcentrik.vocabuilder.MainActivity" />
        </activity>

        <!-- AboutActivity -->
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />

        <!-- StatisticsActivity -->
        <activity
            android:name=".StatisticsActivity"
            android:parentActivityName=".MainActivity" />

        <!-- StatisticsActivity -->
        <activity
            android:name=".QuizActivity"
            android:parentActivityName=".MainActivity" />

        <!-- WordActivity -->
        <activity
            android:name=".WordActivity"
            android:label="Word"
            android:parentActivityName=".MainActivity" />

        <!-- DictonaryWordActivity -->
        <activity
            android:name=".DictonaryWordActivity"
            android:label="Dictonary"
            android:parentActivityName=".DictonaryActivity" />

        <!-- SaveActivity -->
        <activity
            android:name=".SaveActivity"
            android:label="Save"
            android:parentActivityName=".MainActivity" />

        <!-- ExampleActivity -->


        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DictonaryActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".EditWordActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>