<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cloudcentrik.vocabuilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->


        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity android:name=".MainActivity"></activity>

        <!-- AddNewActivity -->
        <activity
            android:name=".AddNewActivity"
            android:label="add new"
            android:parentActivityName="net.cloudcentrik.vocabuilder.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cloudcentrik.vocabuilder.MainActivity" />

        </activity>

        <!-- AboutActivity -->
        <activity
            android:name=".AboutActivity"
            android:parentActivityName="net.cloudcentrik.vocabuilder.MainActivity">

        </activity>

        <!-- StatisticsActivity -->
        <activity
            android:name=".StatisticsActivity"
            android:parentActivityName="net.cloudcentrik.vocabuilder.MainActivity">

        </activity>

        <!-- StatisticsActivity -->
        <activity
            android:name=".QuizActivity"
            android:parentActivityName="net.cloudcentrik.vocabuilder.MainActivity">

        </activity>

        <!-- StatisticsActivity -->
        <activity
            android:name=".WordActivity"
            android:parentActivityName="net.cloudcentrik.vocabuilder.MainActivity">

        </activity>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
